// media query manager
@mixin respond($breakpoint) {
	@if $breakpoint == medium {
		@media (min-width: 576px) {
			@content;
		}
	}

	@if $breakpoint == large {
		@media (min-width: 992px) {
			@content;
		}
	}
}

// colors manager
// primary colors
$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

// neutral colors
$transparent-white: hsla(0, 0%, 100%, 0.75);
$very-light-gray: hsl(0, 0%, 95%);

// fonts manager
$font-basic: 'Lexend Deca', sans-serif;
$font-accent: 'Big Shoulders Display', cursive;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	background-color: $very-light-gray;
	color: $transparent-white;
	font-family: $font-basic;
	font-size: 1.5rem;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

button {
	font: inherit;
	border: none;
	text-decoration: none;
	cursor: pointer;
}

a {
	display: inline-block;
	padding: 0.1em;
	color: $dark-cyan;
	text-decoration: none;
	font-weight: 400;
	transform: translateY(-0.03rem);
	transition: background-color 0.2s, color 0.2s;

	&:hover {
		background-color: darkcyan;
		color: $very-light-gray;
	}
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	white-space: nowrap;
	overflow: hidden;
}

.footer {
	color: $very-dark-cyan;
}
