@use './base' as b;

.card {
	// display: flex;
	// flex-wrap: wrap;
	// flex-direction: column;
	// justify-content: space-between;
	// align-items: flex-start;

	display: grid;
	justify-items: start;
	align-items: center;
	gap: 3.3rem;

	padding: 3em 3.3em;
	min-width: 32.6rem;
	min-height: 44.2rem;

	@include b.respond(large) {
		min-width: auto;
		min-height: 50rem;
	}

	&:first-of-type {
		border-top-left-radius: 0.9rem;
		border-top-right-radius: 0.9rem;

		@include b.respond(large) {
			border-top-left-radius: 0.9rem;
			border-top-right-radius: 0;
			border-bottom-left-radius: 0.9rem;
		}
	}

	&:last-of-type {
		border-bottom-left-radius: 0.9rem;
		border-bottom-right-radius: 0.9rem;

		@include b.respond(large) {
			border-top-right-radius: 0.9rem;
			border-bottom-left-radius: 0;
		}
	}

	&--sedans {
		background-color: b.$bright-orange;
	}

	&--suvs {
		background-color: b.$dark-cyan;
	}

	&--luxury {
		background-color: b.$very-dark-cyan;
	}

	&__heading {
		color: b.$very-light-gray;
		font-family: b.$font-accent;
		font-size: 3.9rem;
		text-transform: uppercase;
	}

	&__details {
		color: b.$transparent-white;
		line-height: 1.65;

		@include b.respond(large) {
			margin-bottom: 3.2em;
		}
	}

	&__btn {
		padding: 0.9em 2.2em;
		background-color: b.$very-light-gray;
		border: 1px solid b.$very-light-gray;
		border-radius: 10rem;
		transition: background-color 0.3s, color 0.2s;

		&:hover,
		&:focus {
			background-color: unset;
			color: b.$very-light-gray;
			border: 1px solid b.$very-light-gray;
		}

		&--sedans {
			color: b.$bright-orange;
		}

		&--suvs {
			color: b.$dark-cyan;
		}

		&--luxury {
			color: b.$very-dark-cyan;
		}
	}
}
